@import "src/styles/global";
@import "src/components/estate/info/objectSection/objectSection.module";

.pricesSection {
  margin-top: 80px;
  color: $bg-dark;

  .prices {
    gap: 2%;
  }

  h2 {
    margin-bottom: 30px;
  }

  .table {
    flex: 1;
    width: 100%;

    .row {
      display: flex;
      padding: 15px 20px;
      background-color: #F7F7F6;
      font-size: 1.2em;

      &.title {
        font-weight: bold !important;
        background-color: $bg-main !important;
      }

      &:nth-of-type(2n) {
        background-color: $bg-main !important;
      }
      &:hover {
        background-color: #efefee !important;

        &:first-of-type {
          background-color: $bg-main !important;
        }
      }

      .name {
        width: 60%;
      }
      .price {
        width: 20%;
      }
      .range {
        width: 20%;
      }

    }
  }

  @media screen and (max-width: $medium) {
    margin-top: 50px;
  }
}
