@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dragging {
    background-color: #eeeeee;
}
.file_container {
    width: 100%;
}

body {
    font-family: 'Arsenal', sans-serif;
    min-width: 310px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}

.wrapper {
    max-width: 1500px;
    margin: auto;
    height: inherit;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px;
    }
}
