@import "./global";

.mainBlock {
  //padding-top: 80px;

  h1, h2, h3 {
    font-size: 3.2em;
  }


  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.4em;
  }

  p, h6 {
    font-size: 1.2em;
  }

  @media screen and (max-width: $mediumBig) {
    //padding-top: 80px;
    font-size: 0.8em;
  }
  @media screen and (max-width: $medium) {
    //padding-top: 80px;
  }
  @media screen and (max-width: $small) {
    font-size: 0.7em;
    h3 {
      font-size: 2.2em;
    }
  }

}
