@import "src/styles/global";

.headerSection {
  position: relative;

  img {
    width: 100vw;
    height: 70vh;
    min-height: 500px;
    max-height: 880px;
    object-fit: cover;
    filter: brightness(0.5);
  }

  .wave {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
  }

  .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $bg-main;
    justify-content: flex-end;
    padding-bottom: 5%;
    font-size: 1.1em;

    h1 {
      font-weight: bold;
      width: 45%;
      margin-bottom: 40px;
    }

  }

  .params {
    width: 70%;
  }

  @media screen and (max-width: $medium) {
    img, svg {
      display: none;
    }

    .info {
      position: relative;
      font-size: 0.9em;
      padding-bottom: unset;

      .params {
        display: none;
      }

      h1 {
        color: $bg-dark;
        width: 100%;
        margin-bottom: 0;
        margin-top: 60px;
      }
    }
  }

}
