@import "src/styles/global";
@import "src/components/main/sliderOffer/sliderOffer.module";

.sliderAbout {
  background-color: #222221;
  position: relative;

  .lapaRight {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .lapaLeft {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 0;
    img {
      width: 350px;
    }
  }

  .slide {

    .info {
      justify-content: flex-start;

      h3 {
        margin-bottom: 5%;
      }

      p:first-of-type {
        margin-bottom: 3%;
      }
    }
  }

  @media screen and (max-width: $medium) {
    .lapaLeft {
      display: none;
    }

    .lapaRight {
      img {
        width: 100px;
      }
    }
  }
}
