@import "src/styles/global";

.filterSection {
  padding-top: 60px;
  margin-bottom: 100px;


  .title {
    margin-bottom: 60px;
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.4em;
    }
  }

  .filter {
    width: 100%;
    background-color: $bg-main;
    border-radius: 10px;
    border: 2px solid #F0F0F0;
    //box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
    padding: 30px;


    .row {
      margin-top: 5px;
      display: flex;
      width: 100%;

      &.open {
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        svg {

          &.rotate {
            transform: rotate(180deg);
          }
          path {
            fill: $bg-highlighted;
          }
        }

        &:hover {
          cursor: pointer;

        }
      }

      .input {
        display: flex;
        flex-direction: column;
        color: $neutral;
        flex: 1;
        position: relative;
        margin-right: 10px;

        &.long {
          flex: 2;
        }

        &.small {
          flex: 0.4;
          max-width: 200px;
          justify-content: flex-end;

          input {
            padding: 0 30px !important;
          }

        }

        label {
          font-weight: bold;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          height: 45px;
          padding: 0 50px;
          border: 1px solid #BCBCBC;
          border-radius: 5px;
        }

        svg {
          position: absolute;

          &.searchSVG {
            bottom: 13px;
            left: 15px;
          }
        }
      }

      button {
        padding: 0 36px;
        margin-left: 20px;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-highlighted;
        height: 45px;
        border-radius: 5px;
        color: $bg-main;
        border: 1px solid $bg-highlighted;

        &:hover {
          background-color: $bg-main;
          color: $bg-highlighted;
        }
      }

    }

    .hr {
      margin: 20px 0;
      height: 1px;
      width: 100%;
      background-color: #BCBCBC;
    }
  }


  .sort {
    margin-top: 50px;
    display: flex;
    align-items: center;

    label {
      font-weight: bold;
      margin-right: 40px;
    }

    :nth-child(2) {
      min-width: 200px;

      svg {
        right: -35%;
      }
    }
  }

  .mobSearch {
    display: none;
  }

  .mobSubmit {
    display: none !important;
    button {
      margin-left: unset !important;
    }
  }
  .back {
    display: none !important;
  }

  .reset {
    margin-top: 15px;
    transform: translateY(15px);
    color: $bg-highlighted;
    font-weight: bold;
  }

  @media screen and (max-width: $medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 30px;

    .mobSearch {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
      background-color: $bg-highlighted;
      font-weight: bold;
      gap: 10px;
      color: $bg-main;
      cursor: pointer;

      svg {
        path {
          fill: $bg-main;
        }
      }
    }

    .title {
      display: none;
    }
    .filter {
      display: none;

      &.mobOpen {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 999;
        overflow: auto;
        border-radius: unset;

        .row {
          flex-direction: column;
          gap: 20px 0;
        }
        .pcSubmit {
          display: none;
        }
        .hr {
          display: none;
        }
        .open {
          margin-top: 40px;
          flex-direction: row;
        }
      }
      .mobSubmit {
        margin-top: 30px;
        justify-content: center;
        display: flex !important;

        button {
          align-self: center;
        }
      }
      .back {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        gap: 0 15px !important;
        font-size: 1.3em;
        margin-bottom: 40px;
        cursor: pointer;
      }
    }
    .sort {
      margin-top: 25px;
      margin-bottom: 40px;

      label {
        margin-right: 20px;
      }
    }

    .reset {
      margin-bottom: 30px;
      width: content-box;
      align-self: flex-start;
    }
  }
}
