@import "src/styles/global";

.empty {
  display: flex;
  align-items: center;

  h3 {
    margin-left: 50px;
    font-size: 1.9em;
  }
}

.estates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .estate {
    background: $bg-main;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    transition: all .2s ease-in-out;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }

    p {
      font-size: 1.2em;
      height: 80px;
      word-break: break-all;
    }

    .pSmall {
      margin-top: 20px;
      height: 30px;
    }

    &.minusPad {
      background-color: unset;
      box-shadow: unset;
      padding: unset;
      position: relative;
      height: 500px;

      &:hover {
        box-shadow: unset;
        transform: unset;
        cursor: default;
      }
    }

    h3 {
      font-size: 2.6em;
      font-weight: bold;
    }

    .params {
      //height: 100px;
      gap: 10px 0;
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .param {
        display: flex;
        height: 35px;
        align-items: center;
        margin-right: 19px;
        font-size: 1.2em;

        span {
          svg {
            fill: $bg-dark;

            path {
              fill: $bg-dark;
            }
          }
          margin-right: 10px;
        }
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.30);
      transform: scale(1.02);
      color: unset;

      h3 {
        color: $bg-highlighted;
      }
    }
  }

  @media screen and (max-width: $medium) {
    grid-template-columns: 1fr;

    .estate {
      p {
        height: 50px;
      }
    }
  }

}
